<div th:fragment="navigators" xmlns:th="http://www.thymeleaf.org">
    <ul class="layui-nav">
        <li class="layui-nav-item"><a th:href="@{/}">首页</a></li>
        <li class="layui-nav-item"><a th:href="@{/redission/client}">RedissionClient</a></li>
        <li class="layui-nav-item"><a th:href="@{/user/list}">UserClient</a></li>
        <li class="layui-nav-item" lay-filter="personInfo">
            <a href="">个人中心</a>
        </li>
        <li class="layui-nav-item" lay-filter="about">
            <a href="">关于</a>
        </li>
    </ul>
</div>
