<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/layui.css}">
    <title>userPage</title>
</head>
<body>
    <div th:include="index_nav :: navigators"></div>
    <div>
        <table id="user-table"></table>
    </div>
</body>
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:inline="none">
        layui.use(['element', 'table'], function(){
            var element = layui.element;
            var table = layui.table;
            table.render({
                    elem: '#user-table',
                    url: '/user/list2', //数据接口
                    id: 'user-table',
                    limits: [10, 15, 20],
                    limit: 10, //每页默认显示的数量
                    page: true,
                cols: [[
                        {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                        {field: 'username', title: '用户名', sort: true},
                        {field: 'age', title: '年龄', sort: true},
                        {field: 'address', title: '地址', sort: true}
                    ]]
                });
        });
    </script>
</html>

<style>
    td {
        width: 150px;
    }
    a {
        color: #3155ff;
    }
</style>